ul#activity-form-type a {
    background-repeat: no-repeat;
    background-position: bottom left;
    color: #3D3E3F;
    opacity: 1;
    background-color: transparent;
    display: block;
    height: 20px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 25px;
}
ul#activity-form-type a:hover {   
    background-position: bottom left;
}
#a_messages {
    background-image : url(/toquela/public/img/torneos/activity-bg.gif);
}

#a_photos {
    background-image : url(/toquela/public/img/torneos/photoactivity-bg.gif);
}

#a_videos {
    background-image : url(/toquela/public/img/torneos/videoactivity-bg.gif);
}
.active a {
    background-position: top left !important;
}

textarea {
    /*background: transparent;*/
    width: 400px;
    height: 120px;
    padding: 8px;
    color : #333;
    border-color: #ccc;
    border-radius: 3px;
}
textarea:focus {
    border-color: #66afe9;
    outline: none;
}

.pull-left {
    float: left !important;
}
#modal-detalle-partido .informacion{
    margin-top: 75px;
    text-align: center;
    line-height: 20px;
}
#modal-detalle-partido .formato_statistic{
    border: 2px solid #ddd;
    text-align: left;
    margin-bottom: 5px;
}

@media(max-width: 768px){
    #modal-detalle-partido .informacion{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 3px solid #ddd;
        border-top: 3px solid #ddd;
    }
}