.tablero .crear-torneo{
    font-size: 17px;
}
.tablero .crear-torneo .form-group{
    background-color: #F4F1F2;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px #E3E3E3;
}

.tablero .crear-torneo .inscripcion .fechas{
    cursor: pointer;
    background-color: #F4F1F2;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border: solid 1px #E3E3E3;
}

.tablero .crear-torneo .inscripcion .fechas p{
    display: inline-block;
    width: 75%;
}

.tablero .crear-torneo .inscripcion .fechas .glyphicon{
    display: inline-block;
    width: 23%;
}

.tablero .crear-torneo .inscripcion .fechas .glyphicon img{
    width: 60px;
    height: 60px;
}


.tablero .crear-torneo .invitacion .item{
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #003A07;
    color: #FFFFFF;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 5px;
}

.tablero .crear-torneo .invitacion .glyphicon{
    height: 50px;
}

.tablero .crear-torneo .invitacion .glyphicon img{
    height: 80%;
}

.tablero .crear-torneo .invitacion #crear_torneo{
    width: 100%;
}

.tablero .novedades{
    padding-right: 0px;
}

.tablero .novedades div{
    padding: 0px;
}

.tablero .novedades h4{
    display: inline-block;
    width: 80%;
}

.tablero .novedades #icon-novedad{
    background-color: #1A2E3E;
    position: absolute;
    width: 80px;
    right: 0px;
}

.tablero .novedades #icon-foto{
    background-color: #4B5766;
}

.tablero .novedades #icon-foto img{
    width: 47px;
    height: 47px;
}

.tablero .novedades #icon-video{
    background-color: #4B5766;
}

.tablero .novedades #icon-video img{
    width: 47px;
    height: 47px;
}

.tablero .novedades #icon-p{
    background-color: #4B5766;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    text-align: center;
    font-size: 37px;
}

.tablero .grupos h4{
    display: inline-block;
    width: 80%;
}

.tablero .grupos #icon-camiseta{
    background-color: #1A2E3E;
    width: 80px;
    position: absolute;
    right: 0px;
}

.tablero .clasificacion{
    padding: 0px;
}

.tablero .clasificacion #icon-medalla{
    position: absolute;
    background-color: #1A2E3E;
    width: 80px;
    right: 0px;
}

.tablero .clasificacion th{
    background-color: #1A2E3E;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #FFFFFF;
}

.tablero .clasificacion th img{
    width: 60px;
}