            #croppic{
                width: 400px;  /* MANDATORY */
                height: 208px; /* MANDATORY */
                position: relative;  /* MANDATORY */
                
                margin: 50px 70px 20px;
                border: 3px  solid #FFF;
                box-sizing: content-box;
                -moz-box-sizing: content-box;
                border-radius: 2px;
                background-image: url(../images/placeholder.png);
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 8px 8px 0px rgba(0,0,0,0.1);
            }
            
            /* DO NOT CHANGE FROM HERE ( unless u know what u are doing) */
            .cropImgWrapper{
                cursor: -webkit-grab;
                cursor: grab;
            }
            .cropImgWrapper:active{
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }
            
            .cropImgUpload{
                z-index:2;
                position:absolute;
                height:28px;
                display:block;
                top: -30px;
                right: -2px;
                font-family:sans-serif;
                width:20px;
                height:20px;
                text-align:center;
                line-height:20px;
                color:#FFF;
            }
            
            .cropControls{
                z-index:2;
                position:absolute;
                height:30px;
                display:block;
                /* top: -31px; */
                top: -1px;
                right: -1px;
                font-family:sans-serif;
                background-color:rgba(0,0,0,0.35); 
            }
            
            .cropControls i{
                display:block;
                float:left;
                margin:0;
                cursor:pointer;
                background-image:url('../images/cropperIcons.png'); 
                width:30px;
                height:30px;
                text-align:center;
                line-height:20px;
                color:#FFF;
                font-size:13px;
                font-weight: bold;
                font-style: normal;
                
            }
            
            .cropControls i:hover{ background-color:rgba(0,0,0,0.7);  }
            
            .cropControls i.cropControlZoomMuchIn{ background-position:0px 0px;}
            .cropControls i.cropControlZoomIn{ background-position:-30px 0px; }
            .cropControls i.cropControlZoomOut{ background-position:-60px 0px; }
            .cropControls i.cropControlZoomMuchOut{ background-position:-90px 0px; }
            .cropControls i.cropControlRotateLeft{ background-position:-210px 0px; }
            .cropControls i.cropControlRotateRight{ background-position:-240px 0px; }
            .cropControls i.cropControlCrop{ background-position:-120px 0px;}
            .cropControls i.cropControlUpload{ background-position:-150px 0px;}
            .cropControls i.cropControlReset{ background-position:-180px 0px;}
            .cropControls i.cropControlRemoveCroppedImage{ background-position:-180px 0px;}
            
            .cropControls i:last-child{
                margin-right:none;
            }
            
            #croppicModal{
                position:fixed;
                width:100%;
                height:100%;
                top: 0;
                left: 0;
                display:block;
                background:rgba(0,0,0,0.8);
                z-index: 10000;
            }
            
            
            /*
            *       PRELOADER 
            *       With courtesy of : http://cssload.net/
            */
            
            .bubblingG {
                text-align: center;
                width:80px;
                height:50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -18px auto auto -40px;
                z-index:2;
            }

            .bubblingG span {
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 10px;
                margin: 25px auto;
                background: #FFF;
                box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
                -moz-border-radius: 50px;
                -moz-animation: bubblingG 1s infinite alternate;
                -webkit-border-radius: 50px;
                -webkit-animation: bubblingG 1s infinite alternate;
                -ms-border-radius: 50px;
                -ms-animation: bubblingG 1s infinite alternate;
                -o-border-radius: 50px;
                -o-animation: bubblingG 1s infinite alternate;
                border-radius: 50px;
                animation: bubblingG 1s infinite alternate;
                
            }

            #bubblingG_1 {
                -moz-animation-delay: 0s;
                -webkit-animation-delay: 0s;
                -ms-animation-delay: 0s;
                -o-animation-delay: 0s;
                animation-delay: 0s;
            }

            #bubblingG_2 {
                -moz-animation-delay: 0.3s;
                -webkit-animation-delay: 0.3s;
                -ms-animation-delay: 0.3s;
                -o-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }

            #bubblingG_3 {
                -moz-animation-delay: 0.6s;
                -webkit-animation-delay: 0.6s;
                -ms-animation-delay: 0.6s;
                -o-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }

            @-moz-keyframes bubblingG {
                0% {
                    width: 10px;
                    height: 10px;
                    background-color:#FFF;
                    -moz-transform: translateY(0);
                }

                100% {
                    width: 24px;
                    height: 24px;
                    background-color:#FFF;
                    -moz-transform: translateY(-21px);
                }

            }

            @-webkit-keyframes bubblingG {
                0% {
                    width: 10px;
                    height: 10px;
                    background-color:#FFF;
                    -webkit-transform: translateY(0);
                }

                100% {
                    width: 24px;
                    height: 24px;
                    background-color:#FFF;
                    -webkit-transform: translateY(-21px);
                }

            }

            @-ms-keyframes bubblingG {
                0% {
                    width: 10px;
                    height: 10px;
                    background-color:#FFF;
                    -ms-transform: translateY(0);
                }

                100% {
                    width: 24px;
                    height: 24px;
                    background-color:#FFF;
                    -ms-transform: translateY(-21px);
                }

            }

            @-o-keyframes bubblingG {
                0% {
                    width: 10px;
                    height: 10px;
                    background-color:#FFF;
                    -o-transform: translateY(0);
                }

                100% {
                    width: 24px;
                    height: 24px;
                    background-color:#FFF;
                    -o-transform: translateY(-21px);
                }

            }

            @keyframes bubblingG {
                0% {
                    width: 10px;
                    height: 10px;
                    background-color:#FFF;
                    transform: translateY(0);
                }

                100% {
                    width: 24px;
                    height: 24px;
                    background-color:#FFF;
                    transform: translateY(-21px);
                }

            }
            
            /* some reset stlyes */
            
/**Cropic end*/


#upload-img{ 
    width:400px; 
    height:200px; 
    position: relative; 
    border:1px solid #ccc;
    display: block;
}


/**
 * Anterior
 */

.participantes{
    padding: 0px;
}
.participantes #asignar_equipos .form-control {
    margin-bottom: 0px;
    margin-top: 0px;
}
.participantes #asignar_equipos .form-group {
    background-color: #F4F1F2;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px #E3E3E3;
    margin-right: 0px;
}
.participantes .pestana{
    text-align: center;
    padding: 0px;
}
.participantes #asignar_equipos{
    padding-right: 8px;
}
.participantes .pestana #icon-jornada{
    margin-right: 8px;
}
.participantes #equipos-inscritos{
    padding-left: 8px;
}
/*.participantes .pestana .glyphicon{
background-color: #1A2E3E;
position: absolute;
right: 0px;
}*/
.participantes .pestana .btn_blue_light{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.participantes .pestana .number{
    font-size: 70px;
}
.participantes .select-default{
    position: relative;
    margin-top: 10px;
    width: 80%;
    height: 60px;
}
.participantes .jugadores{
    text-align: center;
}
.div-acordion-grupos {
    margin-top: 2%;
}
.modal-asign-equipos .team-check{
    text-align: initial;
    padding: 2px;
    border: 2px solid #DDD;
    margin-top: 10px;
    border-radius: 5px;
}
.modal-asign-equipos .team-check:hover{
    border: 2px solid #BBB;
}
.modal-asign-equipos .team-check img{
    padding: 3px;
    border: 1px solid #DDD;
}
#equipos_escogidos .panel-info > .panel-heading {
    color: #3a87ad;
    background-color: #39b3d7;
    border-color: #bce8f1;
}
#equipos_escogidos .panel-title{
    color: #fff;
}
#equipos_escogidos .panel-title a{
 text-decoration: none;
}
#equipos_escogidos .panel-title a:hover{
 color: #E4E4E4;
}
#equipos_escogidos .eliminar-escogido{
   position: absolute;
   right: 0;
   margin-right: 23px;
   cursor: pointer;
}
#equipos_escogidos .eliminar-escogido:hover{
   color: #D86767;
}
#equipos_escogidos .team-escogido >div{
    border: 2px solid #DDD;
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px;
}
#equipos_escogidos .team-escogido img{
    padding: 3px;
    border: 1px solid #DDD;
}
#equipos_escogidos .panel-info{
border: 2px solid #bce8f1;
}
/*en popup de agregar equipos*/
.btns-arregla-vidas{
    margin-top: 10px;
}
.btns-arregla-vidas .btn_info{
    background: #fff;
    border: 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #BBB;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.btns-arregla-vidas .btn_info:hover{
    background-color: #BBB;
    border-color: #BBB;
    color: #fff;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
/*css para el input checbox bonito de los equipos*/
@import url(http://fonts.googleapis.com/css?family=Aldrich);
* { margin: 0; padding: 0; border: 0 none;}
section {margin: 20px;}
h3 {display: inline-block; vertical-align: middle; font-family: 'Aldrich', sans-serif; color: #BCB589; font-size: 25px;}
/*input[type=checkbox] {
    visibility: hidden;
}*/
.helpbox{
    position: absolute;
    display: none;
    top: 31%;
    left: 61%;
    border: .5em solid black;
    background-color: black;
    color: white;
}